@font-face {
    font-family: leelawade;
    src: url(leelawad.ttf);
}
h1,h2,h3,p,ul,li,td,a, * {
    font-family:leelawade;
}

a {
    text-decoration: none;
    color: white;
}

li, ul {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.849);
    min-height: 100vh;
    position: relative;
}


/* NAVBAR ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -*/

.navbar {
    /*height: 7vh;*/
    height: 60px;
    background-color: #3c1e3c;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /*position: absolute;*/
}

.navbar-ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 5% 0 0;
    padding: 0;
    height: 100%;
    float: right 
}

.navbar-li {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar-a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    /*background-color: rgb(22, 22, 68);*/
    margin: 0 0 0 50px;
    padding: 0 20px;
    height: 100%;
    font-size: 25px;
}

.navbar-a:hover {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.534);
    margin: 0 0 0 50px;
    padding: 0 20px;
    height: 100%;
    font-size: 25px;
}

.navbar-a:active {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.534);
    margin: 0 0 0 50px;
    padding: 0 20px;
    height: 100%;
    font-size: 25px;
}

.navbar-a-current {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.534);
    margin: 0 0 0 50px;
    padding: 0 20px;
    height: 100%;
    font-size: 25px;
}

.navbar-ul-logos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 2%;
    padding: 0;
    height: 100%;
    float: left 
}

.linkedin-logo {
    background-color: transparent;
    float: left;
    width: 40px;
    border-radius: 5px;
    margin-right: 25px;
}

.github-logo {
    background-color: transparent;
    float: left;
    width: 60px;
    border-radius: 5px;
}

/*-----------------collapsing navbar-------------------------------*/

.navbar-collapsed {
    visibility: hidden;
    height: 0;
}

.col-ul{
    list-style:none;
    margin:0;
    padding:0;
    width:100vw;
    /*border-radius:5px;*/
    /*margin:20px;*/
}
.col-navbar-li{
    display:block;
    height:20px;
    background: #3c1e3c;
    padding:10px;
    color:white;
    border-top:1px solid rgba(255,255,255,.1);
}
.col-navbar-li:hover{
    background-color: rgba(0, 0, 0, 0.23);
}
.col-navbar-li:last-child{
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
}

.col-navbar-li-symbols{
    display:block;
    height:40px;
    background: #3c1e3c;
    padding:10px;
    color:white;
    border-top:1px solid rgba(255,255,255,.1);
    display: flex;
    justify-content: center;
}
.col-navbar-li-symbols:hover{
    background-color: rgba(0, 0, 0, 0.23);
}
.col-navbar-li-symbols:last-child{
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
}

.col-label:before{
    height:2px;
    width:20px;
    background:white;
    display:inline-block;
    content:"";
    box-shadow:0px -5px 0px 0px  white,
    0px -10px 0px 0px white;
    margin-right:10px;
    transition:all .5s;
    position:relative;
    opacity:0.5;
}
.col-label{
    display:block;
    background:#3c1e3c;
    padding:10px;
    color:white;
    cursor:pointer;
}
input[type="checkbox"]{
    visibility:hidden;
    position:absolute;
}
#collapse:checked ~ li{
    display:none;
    margin-top:0;
}
#collapse:checked + label:before{
    position:relative;
    opacity:1;
    margin-left: 30px;
}

/*---------------------------------------------------------*/


@media screen and (max-width: 1335px) {
    .navbar {
        visibility: hidden;
        height: 0;
    }
    .navbar-collapsed {
        visibility: visible;
        height: auto;
    }
    .navbar-a-current, .navbar-a:hover {
        background-color: transparent;
    }
    .github-logo {
        margin-top: -10px;
    }
    .navbar-a, .navbar-a:hover, .navbar-a-current , .navbar-a-current:hover{
        margin: 0;
    }
}


/* FOOTER ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 5vh;
    background-color: #3c1e3c;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

.footer-a {
    font-size: 30px;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-left: 2%;
}

.footer-a:hover {
    font-size: 30px;
    color: grey;
    text-align: center;
    vertical-align: middle;
    padding-left: 2%;
}






/* HOME ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -*/

.welcome {
    background-image: url('desktop-background-dark2.jpg');
    background-size: cover;
    background-position: center;
}

.home-pic {
    height: 100vh;
}

.foto-TM {
    display: inline-block;
    margin-top: 0;
    float: right;
    padding-top: 2vh;
}

.home-pic-emre-div {
    height: 80vh;
    width: 98vw;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

}

.home-pic-emre {
    border: solid white;
    display: inline-block;

    /*margin:50vh 0 0 40vw;*/
    padding: 10px;

    
}

.home-pic-emre-tekst {
    color: white;
    font-size: 70px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}


.home-main {

}

.scroll-button {
    display: flex;
    justify-content: center;
    margin-top: -100px;
}

@media screen and (max-height: 428px) {
    .scroll-button {
        margin-top: 0;
    }
}
/*home over mij ------------------------------------------------------*/

.home-overmij {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    justify-content: flex-end;
    align-content: center;
    padding: 2% 5%;
}

.home-portret-emre {
    margin: 0;
}

.home-portret-emre-img {
    border-radius: 100%;
}

.home-overmij-tekst {
    display: flex;
    flex-flow: column;
    align-content: space-between;
    width: 60vw;
    margin-left: 5vw;
}

.home-overmij-h2 {
    font-size: 35px;
    color: white;
    margin-top: 0;
}

.home-overmij-p {
    font-size: 20px;
    color: white;
}

.home-overmij-buttons {
    display: flex;
    flex-flow: row wrap;
}

.home-overmij-button-meer {
    background-color: #3c1e3c;
    font-size: 25px;
    padding: 2.5px 12.5pX;
}

.home-overmij-button-meer:hover {
    background-color: #3c1e3c;
    color: grey;
    font-size: 25px;
    padding: 2.5px 12.5pX;
}

.home-overmij-button-cv {
    background-color: #3c1e3c;
    font-size: 25px;
    padding: 2.5px 12.5pX;
    margin-left: 2%;
}

.home-overmij-button-cv:hover {
    background-color: #3c1e3c;
    color: grey;
    font-size: 25px;
    padding: 2.5px 12.5pX;
    margin-left: 2%;
}

/*projecten ------------------------------------------------------*/

.home-projecten {
    background-color: #4a4a4a78;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    padding: 2% 5%;
}

.home-projecten-h2 {
    text-align: center;
    font-size: 35px;
    color: white;
    margin-top: 0;
}

.home-projecten-galerij {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding:2% 15% 2% 15%;
}

.home-projecten-galerij-artikel {
    display: flex;
    flex-flow: column;
    width: 220px;
    margin-bottom: 40px;
}

.home-projecten-galerij-artikel-h3 {
    color: white;
    margin-bottom: 5%;
}

.home-projecten-galerij-artikel-p {
    color: white;
    margin: 0;
}

.home-projecten-button{
    display: flex;
    justify-content: center;
}

.home-projecten-button-meer {
    background-color: #3c1e3c;
    font-size: 25px;
    padding: 2.5px 12.5pX;
}

.home-projecten-button-meer:hover {
    background-color: #3c1e3c;
    color: grey;
    font-size: 25px;
    padding: 2.5px 12.5pX;
}

/*thomas more ------------------------------------------------------*/

.home-thomasmore {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    padding: 2% 5%;
}

.home-thomasmore-TMfoto {
    display: inline-block;
    height: 100%;
    margin: 90px 0 0 0;
    vertical-align: middle;
}

.home-thomasmore-tekst {
    display: flex;
    flex-flow: column;
    align-content: space-between;
    width: 40vw;
    margin-left: 5vw;
}

.home-thomasmore-h2 {
    font-size: 35px;
    color: white;
    margin-top: 0;
}

.home-thomasmore-p {
    font-size: 20px;
    color: white;
}

.home-thomasmore-button {
    display: flex;
    flex-flow: row wrap;
}

.home-thomasmore-button-meer {
    background-color: #3c1e3c;
    font-size: 25px;
    padding: 2.5px 12.5pX;
}

.home-thomasmore-button-meer:hover {
    background-color: #3c1e3c;
    color: grey;
    font-size: 25px;
    padding: 2.5px 12.5pX;
}

@media screen and (max-width: 1370px) {
    .home-thomasmore-TMfoto {
        display: inline-block;
        height: 100%;
        margin: 5% 0 0 5vw;
        vertical-align: middle;
    }
    .home-thomasmore-TMfoto {
        margin: 40px 0 0 5vw;
    }
    .home-thomasmore-TMfoto-img {
        width: 80vw;
    }
    .home-thomasmore-p {
        width: 80vw;
    }
}



/* PROJECTEN ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -*/

.projecten-main {}

.projecten-h1 {
    color: white;
    margin: 3% 0;
    padding:0 4%;
}

.projecten-galerij {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding:0 4%;
}

.projecten-galerij-artikel {
    display: flex;
    flex-flow: column;
    width: 40vw;
    margin-right: 1%;
    margin-bottom: 7%;
    border-bottom: solid #6260f3;
}

.projecten-galerij-artikel-head {
    display: flex;
    flex-flow: row wrap;
}

.projecten-galerij-artikel-img {
    margin-right: 5%;
}

.projecten-galerij-artikel-head-h3 {
    font-size: 25px;
    color: white;
    margin-bottom: 5%;
}

.projecten-galerij-artikel-head-p {
    font-size: 20px;
    color: white;
    margin: 0;
}

.projecten-galerij-artikel-beschrijving {
    font-size: 20px;
    color: white;
}

@media screen and (max-width: 1175px) {
    .projecten-galerij {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding:0 4%;
    }

    .projecten-galerij-artikel {
        display: flex;
        flex-flow: column;
        width: 70vw;
        margin-right: 1%;
        margin-bottom: 7%;
        border-bottom: solid #6260f3;
    }
}

@media screen and (max-width: 429px) {
    .projecten-galerij-artikel-img {
        width: 70vw;
    }
}


/* OVER MIJ ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -*/

.overmij-main {

}

.overmij-h1 {
    color: white;
    margin: 3% 0;
    padding:0 4%;
}

.overmij-div {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: left;
}

.overmij-portret-emre {
    display: inline;
    float: left;
    margin: 0;
    padding:0 0 0 4%;
}

.overmij-portret-emre-tekst-div {
    padding-left: 4%;
}

.overmij-tekst-p {
    color: white;
    font-size: 20px;
    margin: 0;
    padding-right: 4%;
}

@media screen and (max-width: 750px) {
    .overmij-div {
        flex-wrap: wrap;
    }
}




/* CONTACT ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -*/

.contact-h1 {

}

.contact-h1 {
    color: white;
    margin: 3% 0;
    padding:0 4%;
}

.contact-form {
    margin: 0;
    padding:0 4%;
}

.contact-form-fieldset {
    margin-bottom: 2%;
}

.contact-form-legend {
    color:white;
}

.contact-form-div {
    display: inline-flex;
    flex-flow: column;
    margin: 0;
    padding: 0.5% 1%;
}

.contact-form-label {
    color:white;
    vertical-align: top;
    margin: 0.5em 0;
}

.contact-form-input {
    margin: 0.5em 0;
}

.contact-form-vraag-div {
    margin: 0;
    padding: 0.5% 1%;
}

.contact-form-textarea {
    width: 90%;
}

/* STAGE ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -*/

.stage-h1 {

}

.stage-h1 {
    color: white;
    margin: 3% 0;
    padding:0 4%;
}




